@{
    ViewBag.Title = "Стартовая страница";
    ViewBag.PageTitle = "Заголовок страницы";
    ViewBag.PanelTitle = "Заголовок панели";    
}

<div class="jumbotron">
    <h2> Это главная страница. </h2>
    <h4> Скоро здесь появится полезная информация</h4>
</div>