<table class="table  projects">
    <thead>
        <tr>
            <th style="width: 1%">#</th>
            <th style="width: 20%">Игрок</th>
            <th>Вход</th>
            <th style="width: 20%">Выход</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>
                <img src="/Images/img1.jpg" style="width: 15%;" alt="img">
                <a>Гусев Алексей Николаевич</a>
            </td>
            <td>
                <ul class="list-inline">
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">1000</strong> <br>
                        <small style="color: #73879C;">22:30</small>
                    </li>
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">2000</strong> <br>
                        <small style="color: #73879C;">23:30</small>
                    </li>
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">10000</strong> <br>
                        <small style="color: #73879C;">01:30</small>
                    </li>
                    <li class="">
                        <a><span class="fa fa-plus"></span></a>
                    </li>
                </ul>
            </td>
            <td>
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">100000</strong> <br>
                    <small style="color: #73879C;">0:30</small>
                </li>
            </td>
        </tr>
        <tr>
            <td>#</td>
            <td>
                <img src="/Images/img2.jpg" style="width: 15%;" alt="img">
                <a>Ирина Киселёва</a>
            </td>
            <td>
                <ul class="list-inline">
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">1000</strong> <br>
                        <small style="color: #73879C;">22:30</small>
                    </li>
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">2000</strong> <br>
                        <small style="color: #73879C;">23:30</small>
                    </li>
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">10000</strong> <br>
                        <small style="color: #73879C;">01:30</small>
                    </li>
                    <li class="btn btn-default">
                        <strong style="color: #5a738e;">10000</strong> <br>
                        <small style="color: #73879C;">01:30</small>
                    </li>
                    <li class="">
                        <a><span class="fa fa-plus"></span></a>
                    </li>
                </ul>
            </td>
            <td>
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">100000</strong> <br>
                    <small style="color: #73879C;">0:30</small>
                </li>
            </td>
        </tr>
    <tr>
        <td>#</td>
        <td>
            <img src="/Images/img3.jpg" style="width: 15%;" alt="img">
            <a>Александр Дормачёв</a>
        </td>
        <td>
            <ul class="list-inline">
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">1000</strong> <br>
                    <small style="color: #73879C;">22:30</small>
                </li>
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">2000</strong> <br>
                    <small style="color: #73879C;">23:30</small>
                </li>
                <li class="">
                    <a><span class="fa fa-plus"></span></a>
                </li>
            </ul>
        </td>
        <td>
            <li class="btn btn-default">
                <strong style="color: #5a738e;">100000</strong> <br>
                <small style="color: #73879C;">0:30</small>
            </li>
        </td>
    </tr>

    <tr>
        <td>#</td>
        <td>
            <img src="/Images/img4.jpg" style="width: 15%;" alt="img">
            <a>Вячеслав Воронцов</a>
        </td>
        <td>
            <ul class="list-inline">
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">1000</strong> <br>
                    <small style="color: #73879C;">22:30</small>
                </li>
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">2000</strong> <br>
                    <small style="color: #73879C;">23:30</small>
                </li>
                <li class="btn btn-default">
                    <strong style="color: #5a738e;">10000</strong> <br>
                    <small style="color: #73879C;">01:30</small>
                </li>
                <li class="">
                    <a><span class="fa fa-plus"></span></a>
                </li>
            </ul>
        </td>
        <td>
            <li class="btn btn-default">
                <strong style="color: #5a738e;">100000</strong> <br>
                <small style="color: #73879C;">0:30</small>
            </li>
        </td>
    </tr>

    </tbody>
</table>